.container{
    display: flex;
    max-width: 1200px;
}
.row66{
    width: 66.6667%;
    min-height: 1px;
}
.row33{
    width: 33.3333%;
    min-height: 1px;
}
.mgt{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}
pd-1{
    padding: 15px;
}
bgr-cover1{
    background-color: yellow;
}

