.cover{
    display: flex;
    margin: ;
}
body{
    margin: 0px;
}
.box-image{
    width: 70%;
    height: 900px;
    background-color: burlywood;
}
.box-form{
    width: 30%;
    height: auto;
    background-color: white;
    margin-left: 40px;
    margin-right: 40px;
}
.h-1{
    color: black;
    font-size: 40px;
    margin-top: 40px;
}
.h-2{
    color: gray;
    font-size: 25px;
}
.mt{
    margin-top: 30px;
}
.ml{
    margin-left: 40px;
}
.ml-1{
    margin-left: 100px;

}
.mr{
    margin-right: 40px;
}
.hr{
    margin-bottom: 40px;
}
input[type =text]{
    width: 100%;
    border-style: hidden;


}
input[type = password]{
    width: 100%;
    border-style: hidden;


}
.sgu-bt{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(to top left, #33ccff -200%, #cc0099 100%)
    
}
.image{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}


